In [33]:
from collections import Counter
from itertools import combinations
from math import sqrt
import random
from keras.layers import Concatenate, Dense, Dot, Dropout, Embedding, Input, Reshape, LeakyReLU, Add
from keras.models import Model
from keras.callbacks import Callback, ModelCheckpoint
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import tensorflow


STUDENT_ID = '23846183'

random.seed(2019)
np.random.seed(2019)
tensorflow.set_random_seed(2019)


# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))


def build_deepwide_model(len_continuous, deep_vocab_lens, len_wide, embed_size):
    input_list = []
    continuous_input = Input(shape=(len_continuous,), dtype='float32', name='continuous_input')
    input_list.append(continuous_input)

    emb_list = []
    for vocab_size in deep_vocab_lens:
        _input = Input(shape=(1,), dtype='int32')
        input_list.append(_input)
        _emb = Embedding(output_dim=embed_size, input_dim=vocab_size, input_length=1)(_input)
        _emb = Reshape((embed_size,))(_emb)
        emb_list.append(_emb)
    
    wide_input = Input(shape=(len_wide,), dtype='float32')
    input_list.append(wide_input)
    
    deep_input = Concatenate()(emb_list + [continuous_input])
    
    
    dense_1 = Dense(256, activation='linear')(deep_input)
    dense_1 = LeakyReLU(alpha=0.001)(dense_1)
    #dense_1_dp = Dropout(0.01)(dense_1)
    
    dense_2 = Dense(128, activation='linear')(dense_1)
    dense_2 = Concatenate()([dense_2, dense_1])
    dense_2 = LeakyReLU(alpha=0.001)(dense_2)
    
    #dense_2_dp = Dropout(0.01)(dense_2)
    dense_3 = Dense(64, activation='linear')(dense_2)
    #dense_3_dp = Dropout(0.01)(dense_3)
    dense_2 = Concatenate()([dense_3, dense_2, dense_1])
    dense_3_dp = LeakyReLU(alpha=0.001)(dense_3)

    
    fc_input = Concatenate()([dense_1, dense_2, dense_3_dp, wide_input])
    
    fc_input = LeakyReLU(alpha=0.001)(fc_input)
    model_output = Dense(1)(fc_input)
    model = Model(inputs=input_list,
                  outputs=model_output)
    return model


def get_continuous_features(df, continuous_columns):
    continuous_features = df[continuous_columns].values
    return continuous_features


def get_top_k_p_combinations(df, comb_p, topk, output_freq=False):
    def get_category_combinations(categories_str, comb_p=2):
        categories = categories_str.split(', ')
        return list(combinations(categories, comb_p))
    all_categories_p_combos = df["item_categories"].apply(
        lambda x: get_category_combinations(x, comb_p)).values.tolist()
    all_categories_p_combos = [tuple(t) for item in all_categories_p_combos for t in item]
    tmp = dict(Counter(all_categories_p_combos))
    sorted_categories_combinations = list(sorted(tmp.items(), key=lambda x: x[1], reverse=True))
    if output_freq:
        return sorted_categories_combinations[:topk]
    else:
        return [t[0] for t in sorted_categories_combinations[:topk]]


def get_wide_features(df):
    def categories_to_binary_output(categories):
        binary_output = [0 for _ in range(len(selected_categories_to_idx))]
        for category in categories.split(', '):
            if category in selected_categories_to_idx:
                binary_output[selected_categories_to_idx[category]] = 1
            else:
                binary_output[0] = 1
        return binary_output
    def categories_cross_transformation(categories):
        current_category_set = set(categories.split(', '))
        corss_transform_output = [0 for _ in range(len(top_combinations))]
        for k, comb_k in enumerate(top_combinations):
            if len(current_category_set & comb_k) == len(comb_k):
                corss_transform_output[k] = 1
            else:
                corss_transform_output[k] = 0
        return corss_transform_output

    category_binary_features = np.array(df.item_categories.apply(
        lambda x: categories_to_binary_output(x)).values.tolist())
    category_corss_transform_features = np.array(df.item_categories.apply(
        lambda x: categories_cross_transformation(x)).values.tolist())
    return np.concatenate((category_binary_features, category_corss_transform_features), axis=1)


if __name__ == "__main__":
    tr_df = pd.read_csv("data/train.csv")
    val_df = pd.read_csv("data/valid.csv")
    te_df = pd.read_csv("data/test.csv")

    tr_ratings = tr_df.stars.values
    val_ratings = val_df.stars.values

    user_df = pd.read_json("data/user.json")
    item_df = pd.read_json("data/business.json")
    user_df = user_df.rename(index=str, columns={t: 'user_' + t for t in user_df.columns if t != 'user_id'})
    item_df = item_df.rename(index=str, columns={t: 'item_' + t for t in item_df.columns if t != 'business_id'})

    tr_df["index"] = tr_df.index
    val_df["index"]  = val_df.index
    te_df["index"] = te_df.index
    tr_df = pd.merge(pd.merge(tr_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)
    val_df = pd.merge(pd.merge(val_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)
    te_df = pd.merge(pd.merge(te_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)

    # Continuous features
    print("Prepare continuous features...")
    continuous_columns = ["user_average_stars",
#                           "user_cool", 
#                           "user_fans", 
                          "user_review_count", "user_useful",
#                           "user_funny",
#                           "item_is_open", "item_latitude", "item_longitude", 
                          "item_review_count", "item_stars"]

    tr_continuous_features = get_continuous_features(tr_df, continuous_columns)
    val_continuous_features = get_continuous_features(val_df, continuous_columns)
    te_continuous_features = get_continuous_features(te_df, continuous_columns)
    scaler = StandardScaler().fit(tr_continuous_features)
    tr_continuous_features = scaler.transform(tr_continuous_features)
    val_continuous_features = scaler.transform(val_continuous_features)
    te_continuous_features = scaler.transform(te_continuous_features)

    # Deep features
    print("Prepare deep features...")
    item_deep_columns = ["item_city", "item_postal_code", "item_state"]
    item_deep_vocab_lens = []
    for col_name in item_deep_columns:
        tmp = item_df[col_name].unique()
        vocab = dict(zip(tmp, range(1, len(tmp) + 1)))
        item_deep_vocab_lens.append(len(vocab) + 1)
        item_df[col_name + "_idx"] = item_df[col_name].apply(lambda x: vocab[x] if x in vocab else 0)
    item_deep_idx_columns = [t + "_idx" for t in item_deep_columns]
    item_to_deep_features = dict(zip(item_df.business_id.values, item_df[item_deep_idx_columns].values.tolist()))
    tr_deep_features = np.array(tr_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())
    val_deep_features = np.array(val_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())
    te_deep_features = np.array(te_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())

    # Wide (Category) features
    
    # How to use attribute column for item
    print("Prepare wide features...")
    #   Prepare binary encoding for each selected categories
    all_categories = [category for category_list in item_df.item_categories.values for category in category_list.split(", ")]
    category_sorted = sorted(Counter(all_categories).items(), key=lambda x: x[1], reverse=True)
    selected_categories = [t[0] for t in category_sorted[:900]]
    selected_categories_to_idx = dict(zip(selected_categories, range(1, len(selected_categories) + 1)))
    selected_categories_to_idx['unk'] = 0
    idx_to_selected_categories = {val: key for key, val in selected_categories_to_idx.items()}
    #   Prepare Cross transformation for each categories
    top_combinations = []
    top_combinations += get_top_k_p_combinations(tr_df, 2, 200, output_freq=False)
    top_combinations += get_top_k_p_combinations(tr_df, 3, 30, output_freq=False)
    top_combinations += get_top_k_p_combinations(tr_df, 4, 20, output_freq=False)
    top_combinations += get_top_k_p_combinations(tr_df, 5, 10, output_freq=False)
    
    top_combinations = [set(t) for t in top_combinations]

    tr_wide_features = get_wide_features(tr_df)
    val_wide_features = get_wide_features(val_df)
    te_wide_features = get_wide_features(te_df)

    # Build input
    tr_features = []
    tr_features.append(tr_continuous_features.tolist())
    tr_features += [tr_deep_features[:,i].tolist() for i in range(len(tr_deep_features[0]))]
    tr_features.append(tr_wide_features.tolist())
    val_features = []
    val_features.append(val_continuous_features.tolist())
    val_features += [val_deep_features[:,i].tolist() for i in range(len(val_deep_features[0]))]
    val_features.append(val_wide_features.tolist())
    te_features = []
    te_features.append(te_continuous_features.tolist())
    te_features += [te_deep_features[:,i].tolist() for i in range(len(te_deep_features[0]))]
    te_features.append(te_wide_features.tolist())

    # Model training
    deepwide_model = build_deepwide_model(
        len(tr_continuous_features[0]),
        item_deep_vocab_lens,  
        len(tr_wide_features[0]), 
        embed_size=100)
    deepwide_model.compile(optimizer='adagrad', loss='mse')
    history = deepwide_model.fit(
        tr_features, 
        tr_ratings, 
        epochs=1, verbose=1, callbacks=[ModelCheckpoint('model.h5')])

    # Make Prediction
    y_pred = deepwide_model.predict(tr_features)
    print("TRAIN RMSE: ", rmse(y_pred, tr_ratings))
    y_pred = deepwide_model.predict(val_features)
    print("VALID RMSE: ", rmse(y_pred, val_ratings))
#     y_pred = deepwide_model.predict(te_features)
#     res_df = pd.DataFrame()
#     res_df['pred'] = y_pred[:, 0]
#     res_df.to_csv("{}.csv".format(STUDENT_ID), index=False)
#     print("Writing test predictions to file done.")

Prepare continuous features...
Prepare deep features...
Prepare wide features...
Epoch 1/1
100000/100000 [==============================] - 28s 281us/step - loss: 1.1053
TRAIN RMSE:  1.0241602816149316
VALID RMSE:  1.031410890952519

In [34]:
# total features available 
print(len(user_df.columns))
list(user_df.columns)

# selected features
# ["user_average_stars", "user_cool", "user_fans", 
#                           "user_review_count", "user_useful", "user_funny",
#                           "item_is_open", "item_latitude", "item_longitude", 
#                           "item_review_count", "item_stars"]

21

['user_average_stars',
 'user_compliment_cool',
 'user_compliment_cute',
 'user_compliment_funny',
 'user_compliment_hot',
 'user_compliment_list',
 'user_compliment_more',
 'user_compliment_note',
 'user_compliment_photos',
 'user_compliment_plain',
 'user_compliment_profile',
 'user_compliment_writer',
 'user_cool',
 'user_elite',
 'user_fans',
 'user_funny',
 'user_name',
 'user_review_count',
 'user_useful',
 'user_id',
 'user_yelping_since']

,user_average_stars,user_compliment_cool,user_compliment_cute,user_compliment_funny,user_compliment_hot,user_compliment_list,user_compliment_more,user_compliment_note,user_compliment_photos,user_compliment_plain,...,user_compliment_writer,user_cool,user_elite,user_fans,user_funny,user_name,user_review_count,user_useful,user_id,user_yelping_since
1019,4.14,0,0,0,0,0,0,0,0,0,...,0,1,,0,1,Lynne,35,8,110362ea155bc27f2faceb6dc76b4e5c,2015-08-02 14:37:56
1022,3.37,0,0,0,0,0,0,2,0,0,...,0,32,,0,23,Natasha,39,56,b29e7ca89b94b87372bb7f2f619d0370,2015-08-31 14:55:38
1025,4.28,0,0,0,1,0,0,1,0,1,...,0,0,,0,8,Elle,24,7,d1799915f2d5bc12f001dcb9df103042,2016-03-21 03:46:05
1027,4.16,0,0,0,0,0,0,1,0,0,...,0,17,,0,13,Tami,30,34,fa8b8042848b2d876fb28ca6652cf22d,2014-07-17 23:02:28
1055,3.63,0,0,0,1,0,1,0,0,3,...,0,11,,0,11,Rngox,96,81,4b5f6fe3906ac1270cdf81b40b6e3a0f,2011-08-21 18:54:41
1056,3.88,0,0,0,0,0,0,0,0,1,...,0,17,,0,12,Butch,32,44,b58d81735f484d67a77308b74a3722ca,2009-04-08 21:03:08
1058,4.00,0,0,0,0,0,1,0,0,0,...,0,5,,0,3,Mishell,27,32,5e20ce6186496644908ea094798ff04b,2015-04-15 01:01:08
1063,3.93,0,0,0,1,0,0,2,0,0,...,1,12,,0,8,C,43,97,8f01755e4582caf9b2b4d55bb4b0880a,2008-10-09 13:58:09
1066,3.96,0,0,0,0,0,0,0,0,2,...,0,14,,0,8,Winna,23,36,eeff9485f8ca9445268745967b651fe5,2015-02-20 18:57:59
1070,4.00,0,0,0,0,0,0,0,0,0,...,0,7,,0,4,Rilo,40,26,19691083b44502f78787d7d26bfe5701,2014-09-02 16:33:11
1075,4.62,0,0,0,0,0,0,0,0,2,...,0,14,,0,4,Charmayne,47,33,5b62625f8e82fb49e3985c4f3d9253b6,2013-10-12 06:57:38
1076,4.00,2,0,2,0,0,0,0,0,0,...,0,13,,0,5,Nicole,23,43,5284111cce5ab239f36372af5d3e2e3b,2012-05-04 20:17:26
1087,3.59,1,0,1,0,0,0,1,0,1,...,0,1,,0,4,Elle,37,15,dbc051393570e837f96efe72d84e4ef9,2015-09-09 03:39:21
1089,3.86,4,0,4,1,0,1,2,0,3,...,1,31,"2017,2018",0,16,Judy,40,105,58ab97351ddd4328d9ed33cfdc13fb51,2012-05-28 08:13:56
1092,3.92,0,0,0,0,0,0,0,0,1,...,0,7,,0,2,Kirstin,24,10,cadec605b8efcce9ef044f2fe2e534c6,2012-03-16 02:45:21
1094,3.38,0,0,0,1,0,0,0,0,2,...,0,6,,0,9,Brittany,29,24,4c13bafe97666d3a83081939cf40ea8f,2013-07-28 03:38:40
1098,2.86,0,0,0,0,0,0,0,0,0,...,0,6,,0,9,Charles,46,20,1571837c269ad54eb1c3a1bfc9e987fd,2015-12-27 05:57:51
1106,4.27,0,0,0,0,0,0,0,0,0,...,0,0,,0,0,Dawn,48,5,2b2d75a6092ebe6d927201aebdc414db,2015-12-08 20:37:24
1108,3.50,0,0,0,0,0,0,0,0,2,...,1,33,,0,12,Jasmine,48,50,722fddaadccaaa11d2c3a063d02fb141,2010-08-02 22:42:22
1117,4.26,2,0,2,0,0,0,0,0,0,...,0,7,,0,4,Laura,97,49,11877e2ead130ff264d8819ff837a1ec,2010-07-13 17:20:02
1126,3.95,0,0,0,0,0,0,1,0,0,...,0,2,,0,7,Bret,22,11,2ad1671339b91237fce73f1696baf550,2011-10-04 03:59:44
1132,3.13,0,0,0,0,0,0,1,1,0,...,0,7,,0,6,Diana,22,44,a66076249c04dfc324a80d310a58bdbd,2010-01-28 04:18:06
1137,4.92,0,0,0,0,0,0,0,0,0,...,0,4,,0,1,Kevin,37,14,30eaa45ee339a75795436e425ed027b2,2012-09-07 02:25:44
1146,3.98,0,0,0,0,0,0,1,0,2,...,0,10,,0,10,Ting,43,43,3b989be357f096af7b0e59c1a47b1a66,2012-01-03 17:51:34
1152,4.98,0,0,0,0,0,0,1,0,2,...,1,4,,0,2,Bonnie,36,20,aa08e4be0c786e4d5dfff6a4bc6d6b1e,2012-12-20 06:00:40
1174,4.18,0,0,0,0,0,0,0,0,0,...,0,2,,0,2,Alexander,68,7,87e33b64d8b211cfdccd807a34ab3cab,2012-11-27 03:36:03
1178,4.44,3,0,3,0,0,0,0,0,1,...,0,33,,0,42,Bebe,45,84,93682c2b38a370ccc25e52f5b205d57b,2011-03-30 16:35:52
1185,4.24,0,0,0,0,0,0,1,0,0,...,0,10,,0,3,Sam,20,27,8be24dced1e9697bfa7b7fc575d29549,2014-02-12 05:14:24
1186,3.55,1,0,1,0,0,1,1,0,1,...,0,9,,0,11,Nisha,29,23,5083f55af5065f0b0710922893c59069,2011-04-20 20:45:51
1188,3.65,0,0,0,0,0,0,0,0,2,...,0,11,,0,18,Justin,68,52,6f5c68ad766def8949d8f2cd3c783a8c,2010-06-29 15:43:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,3.17,0,0,0,0,0,0,0,0,0,...,1,5,,0,3,Miss,45,18,200e0e0c8a9d50f4b51daf8aab9e4f12,2012-10-17 06:20:40
841,4.02,0,0,0,0,0,0,0,0,1,...,0,3,,0,4,William,44,16,411759e45c9718ae765b1911ce5f2829,2013-04-10 14:53:15
846,4.70,0,0,0,0,0,0,0,0,0,...,0,5,,0,0,Aaron,27,7,fa363cb83a378de6933814ea64d908ad,2017-03-10 19:18:39
853,3.68,0,0,0,0,0,0,0,0,0,...,0,2,,0,3,Laura,54,28,ee22608ec3a19b3d4bd1c7cba91ef3e5,2009-11-18 03:45:34
858,4.26,0,0,0,0,0,0,0,0,1,...,0,7,,0,10,Anthony,40,15,d2bf677e2a2e9e7a7f56149267dec334,2013-01-11 00:09:50
859,4.13,1,0,1,2,0,1,1,0,2,...,0,38,,0,42,Jake,24,73,1c30063723d908927dad14c045267b35,2010-02-21 03:22:06
863,3.33,0,0,0,0,0,0,0,0,0,...,0,2,,0,5,mia,23,17,4836c300980c20ba7bcd241e95971c6a,2011-04-03 18:03:04
868,3.62,0,0,0,1,0,0,0,0,2,...,0,13,,0,17,Cindy,57,49,76425f0f56225ead02d97c6abb08fc8e,2015-01-03 09:42:25
869,2.78,0,0,0,0,0,0,0,0,2,...,0,9,,0,12,The,52,86,98242cfd2ee2046e944852dee7f1a3fc,2010-10-15 00:05:02
870,3.59,0,0,0,0,0,0,0,0,0,...,0,13,,0,17,Kelly,27,33,3a4c8cf44ab47542b319dcb5177032a2,2014-09-12 19:52:48
879,3.71,0,0,0,1,0,0,0,0,0,...,0,5,,0,2,Jodi,21,37,4003481bcd2ca1630c4bf01e09b06a36,2013-02-16 19:51:19
893,4.10,1,0,1,0,0,1,0,0,0,...,0,5,,0,2,Warren,29,11,eae6265bdcaa1dfc3f10d8948711128f,2015-10-19 02:21:54
898,3.20,1,0,1,0,0,0,0,0,1,...,0,6,,0,1,Ronalyn,19,9,24bf93ac62e3a1b343f239af1e79d41c,2014-04-20 08:36:40
902,3.67,6,0,6,0,0,0,6,0,3,...,4,35,"2015,2016",0,45,Tamara,96,185,5438412a9c2ca78e5cf14c5afba5d150,2012-08-02 21:51:20
907,4.00,1,0,1,0,0,1,0,0,2,...,0,22,,0,15,Mike,59,75,49115bc64c94214abe4908be87dadfc7,2013-07-06 02:41:53
909,2.61,0,0,0,0,0,0,0,0,0,...,0,4,,0,3,Keyuan,26,9,514e59b9981e13ea0e98fbe80bc274cf,2016-03-26 23:55:42
911,3.86,0,0,0,0,0,0,0,0,0,...,0,9,2018,0,7,Jonathan,71,31,fd8db2e08aae302f0cda0d9e58ea88d8,2016-02-03 16:24:13
914,4.54,1,0,1,0,0,0,0,0,1,...,0,3,,0,1,Janna,21,17,e4eac02255a0932e050e22d94130baf1,2013-08-15 16:07:18
916,3.57,2,0,2,1,2,1,5,0,0,...,1,13,2017,0,19,Shari,46,43,877a83cc8a7f7538cb0c1d1f6d827b16,2012-05-16 16:20:41
925,3.62,0,0,0,0,0,0,0,0,0,...,0,0,,0,3,Cynthia,22,19,a61a5384fcaa157f71e10933bc681402,2017-02-11 03:01:50
926,2.23,0,0,0,0,0,0,0,0,1,...,0,4,,0,2,Andria,31,13,655265ddb8fc5eea56676f611d61a2bb,2015-10-27 20:53:49
928,4.28,0,0,0,0,0,0,0,0,0,...,0,1,,0,2,Joseph,32,7,242156c4a6c58c28f1199d29afc31541,2012-06-15 18:38:33
929,4.31,0,0,0,0,0,0,0,0,0,...,0,3,,0,4,Jeff,24,14,3854cb72e973da6e3cd507997a906e9f,2012-01-09 23:17:20
937,3.88,9,3,9,4,0,0,8,1,6,...,1,47,,0,25,Lisa,34,78,e8a6bd97a292436bcebfbe22a16ea0a3,2011-05-18 05:19:50
947,4.40,0,0,0,0,0,0,0,0,5,...,2,5,"2017,2018",0,1,Jessica,82,16,0f328b5466fd3cb271f93b25d6f79b15,2015-06-25 03:25:15
948,3.60,0,0,0,0,0,1,3,0,1,...,0,16,,0,5,Class,87,36,36d717a5b3ea8654e86fa8d355ee681f,2011-01-04 19:19:30
963,3.83,0,0,0,0,0,0,0,0,0,...,0,1,,0,2,Heidi,35,15,c72480c8f2b7e472be7234d609000a5f,2013-10-07 04:58:30
966,4.06,0,0,0,0,0,0,0,0,1,...,0,2,,0,4,Queen City Reviewer,58,13,e518c25072e4d4cdb3a29681e9b23219,2010-11-23 00:05:27
978,3.68,0,0,0,0,0,0,1,0,1,...,2,8,,0,4,Claudia,22,26,1e899bd6e0a23972fa45e678ef5380f5,2010-05-14 13:02:44
990,3.43,3,0,3,1,0,1,3,0,0,...,1,59,,0,63,JR,122,218,804c7a12dc692de60ad7466bc4047a7b,2011-08-25 19:51:25

In [21]:
user_df

,user_average_stars,user_compliment_cool,user_compliment_cute,user_compliment_funny,user_compliment_hot,user_compliment_list,user_compliment_more,user_compliment_note,user_compliment_photos,user_compliment_plain,...,user_compliment_writer,user_cool,user_elite,user_fans,user_funny,user_name,user_review_count,user_useful,user_id,user_yelping_since
0,3.63,1,0,1,1,0,0,0,0,0,...,0,16,,4,22,Jenna,33,48,88422913727e71e88611fdfe3512fa03,2013-02-21 22:29:06
1,3.48,1,0,1,0,0,1,2,0,2,...,0,22,,3,16,Edie,77,71,e9567f1e494c12c4bed031c792a822d0,2009-10-26 01:00:40
10,3.91,67,5,67,50,3,5,28,8,39,...,16,411,,31,507,Andrew,311,632,9db7bc1b71703a41fd213acfcf886ee0,2007-07-14 00:50:13
100,3.89,5,0,5,0,0,1,7,17,7,...,3,215,"2017,2018",21,127,Melody,337,581,356638928087978fbdadf2569dcee490,2012-12-13 03:24:06
1000,4.43,16,0,16,1,0,7,9,6,1,...,10,98,"2016,2017,2018",6,64,Brady,137,162,a821031889b7e2a9cf491ee9bf13bd06,2011-03-26 14:05:58
1001,3.62,34,0,34,14,0,3,9,3,22,...,17,152,2015,10,106,Amy,111,266,c7773a50b020dd4827fc7930c586f8b2,2011-03-10 14:58:02
1002,3.59,0,0,0,1,0,1,3,1,2,...,2,72,"2017,2018",4,38,Christine,128,135,54eea20a91548f256902a2a144e31cee,2014-05-08 08:41:58
1003,4.38,12,0,12,3,0,1,3,1,5,...,9,145,"2013,2014,2015,2016,2017,2018",10,100,Benjamin,316,359,b21ebde7fa59bfc3212b900399bff289,2010-01-21 18:38:34
1004,3.91,0,0,0,0,0,1,0,0,2,...,2,33,,2,604,Yue,55,96,0684846126a11236d848ff5b395298c4,2011-11-30 06:04:06
1005,4.11,14,0,14,2,0,0,6,2,10,...,3,120,,13,49,Holli,205,345,e56c7bf6b9baaaacfbd101c1e2191123,2011-01-04 15:03:06
1006,4.04,5,0,5,1,2,0,2,1,12,...,2,41,,3,24,Juan,68,126,510bb78d25e160ae0f0697551c0fa363,2013-01-06 05:09:17
1007,4.42,8,0,8,6,0,3,4,0,9,...,3,62,,11,28,Jane,45,105,f059fec71d4a2a3b4eae1dd0be5acbab,2008-06-20 01:32:32
1008,4.37,9,0,9,3,0,1,3,1,24,...,8,132,"2017,2018",5,34,Mike,144,231,d87836496f3dd75fa3bd2d8f004bd91f,2015-12-05 18:15:51
1009,4.08,27,1,27,12,0,4,18,6,33,...,29,712,"2015,2016,2017,2018",45,457,Kelly,802,1467,ab080aefa50982f6b173e4f7fa23dbe1,2011-04-14 02:29:27
101,3.69,1,0,1,0,0,2,3,0,0,...,1,10,,1,3,Renay,29,46,6207d7777b042d6acf62e324ae4d4dcf,2011-05-14 12:58:59
1010,3.79,0,0,0,0,0,0,1,0,0,...,1,5,,1,3,Logan,28,24,ccd0ac0acbebcd579dfe927e6981779f,2014-11-24 15:25:58
1011,2.92,0,0,0,0,0,0,1,0,1,...,0,8,,1,17,Rob,56,81,9843a2db629e2336a9d551638e8daacf,2009-11-18 00:37:40
1012,4.50,48,3,48,10,0,2,9,2,10,...,15,340,"2015,2016,2017,2018",19,129,Melissa,101,434,a94267eb1f992ee1c571818906d2b3f2,2010-07-09 03:21:22
1013,3.79,20,0,20,3,0,3,11,6,8,...,6,266,"2015,2016,2017,2018",15,93,Lynnette,342,501,147473d597ca46c3c3893e97bffa8764,2012-02-07 15:35:15
1014,3.65,2,0,2,0,0,0,1,1,1,...,5,30,,5,23,Joah,64,68,6d3b2ca63532d0672205b55352070ccf,2012-07-13 18:09:15
1015,4.40,0,0,0,0,0,0,2,0,2,...,0,35,,2,16,Paige,124,68,b3ebcb35547febe37c5ef678b4d021f7,2012-01-18 20:57:22
1016,4.43,1,0,1,1,0,0,0,0,0,...,2,31,,1,23,Alex,38,38,cbece0a93bbf2934ca1714fe91f81ad0,2014-04-02 22:54:24
1017,3.62,0,0,0,0,0,0,0,0,1,...,0,6,,1,7,Lucas,41,56,25d347883227826803c50b257ac523e9,2012-07-12 17:58:14
1018,3.74,175,0,175,196,0,17,68,13,144,...,60,587,"2012,2013,2014,2015,2016,2017",25,364,Lindsay,232,878,49b00f01adc736714f65011e9d2482dd,2011-08-09 21:00:13
1019,4.14,0,0,0,0,0,0,0,0,0,...,0,1,,0,1,Lynne,35,8,110362ea155bc27f2faceb6dc76b4e5c,2015-08-02 14:37:56
102,3.63,0,0,0,0,0,0,1,1,2,...,1,7,"2016,2017,2018",2,9,Christen,76,89,dcdc8822c3c3e12e9dd09660ccec16b0,2012-12-07 19:37:20
1020,4.24,4,0,4,0,0,1,0,0,0,...,0,22,,5,10,Sheldon,135,53,64054107fef29eca1421483cf18ba427,2012-05-28 02:01:03
1021,4.12,697,20,697,532,14,32,224,1,425,...,92,2340,"2008,2009,2010,2011,2012",43,1755,Lynn,400,2636,6d1848eaae17e7fd3d33b7c2f106e128,2006-08-30 22:55:36
1022,3.37,0,0,0,0,0,0,2,0,0,...,0,32,,0,23,Natasha,39,56,b29e7ca89b94b87372bb7f2f619d0370,2015-08-31 14:55:38
1023,3.55,18,1,18,22,0,2,9,30,13,...,8,106,,19,51,Sasha,74,196,3831a04e8acd427f0120bc939dfcbff0,2012-10-01 16:33:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,3.95,17,0,17,2,0,0,1,4,2,...,2,91,"2016,2017,2018",1,55,Marco,82,121,6fe718d60801e41da86755242486f362,2012-02-26 22:13:53
973,3.86,0,0,0,2,0,0,0,1,1,...,1,5,2018,1,3,Lindsey,62,32,f4cfbfd40f2f3130b38c527127db2d5c,2017-05-08 02:08:37
974,4.06,31,4,31,24,2,3,15,6,34,...,32,612,"2015,2016",41,424,Stephanie,307,1103,6aad7067119bc91d1724d12f860c96ae,2015-01-13 01:27:27
975,3.11,24,1,24,9,0,11,63,1,37,...,28,680,"2011,2012,2013,2014,2015,2016,2017",37,1581,Erin,953,3092,e47141aa19e5f247024ecc2f08214119,2009-12-27 19:04:09
976,3.68,4,0,4,2,0,1,9,0,10,...,1,78,"2013,2014",1,62,Tatiana,92,142,b3146274d66babc336b0dee66f4ebd3d,2011-11-05 20:41:00
977,3.64,0,0,0,0,0,0,1,0,1,...,0,13,,1,8,Brendan,30,42,302a4eb8199a31d07c37215c2fab11d0,2012-11-02 13:52:52
978,3.68,0,0,0,0,0,0,1,0,1,...,2,8,,0,4,Claudia,22,26,1e899bd6e0a23972fa45e678ef5380f5,2010-05-14 13:02:44
979,4.04,1,0,1,0,0,1,1,0,4,...,1,52,2018,2,41,Nathan,138,188,1ea2efcf6e917320877e4ed5e7fb798c,2011-02-02 23:09:17
98,3.84,488,24,488,309,7,46,321,17,607,...,258,5463,"2012,2013,2014,2015,2016,2017,2018",150,4585,Angela,1800,9257,ffb9eec7f2fa3e300c69d55b470b9b40,2011-04-11 19:27:40
980,3.69,5,0,5,2,0,0,1,0,3,...,3,46,"2016,2017,2018",4,31,Lauren,170,100,44c213a8fb224efff4dc795c24d32d3c,2015-05-29 21:22:58
981,4.25,5,0,5,2,0,1,3,0,4,...,2,137,"2013,2016,2017,2018",12,90,Demetria,153,277,fb3969a364fe8feba88560c8b7ece986,2011-08-29 03:40:46
982,4.20,24,1,24,12,0,0,9,37,27,...,8,156,,11,94,Joy,205,274,67326105ca87497c801ddc21c9db7160,2009-06-26 15:32:28
983,3.56,1,0,1,0,1,0,10,0,8,...,3,55,,3,44,Ray,85,157,d09c54d22cc277b404443ebab312e17e,2010-08-13 15:34:59
984,3.95,40,0,40,11,1,5,19,5,35,...,22,409,"2012,2013,2014,2015,2016,2017,2018",47,327,John,529,883,3e138b445038b669d243a7aca6f550b7,2010-12-10 20:36:09
985,3.73,12,0,12,1,1,1,8,0,7,...,2,101,"2013,2014,2015,2017,2018",8,81,Mark,308,259,05d9007df0842551cca85ec67c0cf42d,2013-09-01 14:14:25
986,3.98,47,1,47,14,0,1,24,25,22,...,21,244,"2014,2015",14,175,Takuya,86,329,aea2c7f9f6eebf23dd45c016a2982fe0,2011-11-06 21:21:06
987,3.39,4,1,4,0,1,2,4,0,3,...,1,70,,7,106,Lonely,109,132,3c6022c0b116388ad8dc43b1c86409e0,2011-07-10 06:02:05
988,3.30,1,0,1,0,0,0,3,1,5,...,1,19,,2,52,Mihir,158,123,5b38ece29d3533b0212578c07fd31524,2010-07-14 22:00:54
989,3.82,12,2,12,0,3,0,10,1,5,...,2,97,"2010,2011",3,75,Dan,106,203,88541864bb3ce41a32735bf2f194272e,2009-01-11 02:04:49
99,4.16,759,12,759,484,8,28,253,236,420,...,389,7420,"2012,2013,2014,2015,2016,2017,2018",167,4396,Isabella,952,8103,853032a59a99ff9a66b8ecf2fdb78fc5,2011-04-16 23:21:01
990,3.43,3,0,3,1,0,1,3,0,0,...,1,59,,0,63,JR,122,218,804c7a12dc692de60ad7466bc4047a7b,2011-08-25 19:51:25
991,4.32,1,0,1,8,0,1,1,0,2,...,3,44,"2015,2017,2018",1,17,Zoe,82,138,870795e89eb4532f6cb89fe33a4dd824,2010-08-12 19:02:19
992,4.20,5,0,5,3,0,0,6,2,6,...,3,65,"2017,2018",7,20,Rebecca,284,166,eb6c6cc8aa45674c9c33098db1646313,2013-02-12 04:01:19
993,3.49,32,1,32,7,0,2,28,38,49,...,19,723,"2016,2017,2018",57,222,Michael,313,1670,f8e3955d9f7efde708ebcd314e75d615,2015-07-29 02:19:04
994,3.12,2,0,2,0,0,0,6,1,5,...,3,146,,12,206,William,197,384,7c3b2a2707e8d3a12d7781236be860da,2011-03-12 08:15:33
995,3.53,40,0,40,12,0,1,14,5,18,...,17,174,"2011,2012,2013,2014,2015,2016",26,161,Channa,474,614,ba84156c0fc45692d66ed84ea183cdd4,2009-02-18 14:51:48
996,3.67,0,0,0,1,0,0,0,0,1,...,0,14,,1,18,Sarah,42,33,da6839e204c6b2e3b09cf22f79489d8a,2015-03-08 19:02:10
997,4.44,0,0,0,0,0,0,0,0,0,...,0,9,,1,6,Jill,32,36,f1a284d12c10e12149faccfd00eeb045,2011-08-26 00:55:40
998,4.22,2,0,2,3,0,3,2,0,15,...,3,36,"2016,2017,2018",9,21,Megan,92,147,1d970d4d435195fe616c937537829da4,2015-08-02 22:11:54
999,2.80,0,0,0,0,0,0,0,0,1,...,0,10,,2,6,Adam,38,26,c9d7d4f8a37fda3b3ef3c0c8a8a82b54,2013-01-03 02:16:35

In [24]:
item_df

,item_address,item_attributes,business_id,item_categories,item_city,item_hours,item_is_open,item_latitude,item_longitude,item_name,item_postal_code,item_review_count,item_stars,item_state,item_city_idx,item_postal_code_idx,item_state_idx
0,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",23f2cd62b65e6db173f5f40ed9f13a33,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON,1,1,1
1,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",f182f44b05b28d84ad291e4ed2fe5b6a,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC,2,2,2
10,322 Adelaide Street W,"{'Alcohol': 'u'beer_and_wine'', 'BikeParking':...",109ec8201ca31675ace1d83244c3413b,"Soup, Restaurants, Sandwiches",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.647585,-79.392032,Ravi Soups,M5V 1R1,332,4.5,ON,3,3,1
100,"1005 S Arizona Ave, Ste 9","{'RestaurantsPriceRange2': '2', 'ByAppointment...",20879016f0fbd00b580741888438d5b4,"Eyelash Service, Hair Removal, Beauty & Spas, ...",Chandler,"{'Monday': '9:0-19:0', 'Tuesday': '9:0-19:0', ...",1,33.290984,-111.841126,Mirage Nails & Spa,85286,121,3.5,AZ,4,4,3
1000,15233 N Kierland Blvd,"{'RestaurantsAttire': ''dressy'', 'Restaurants...",79ba35a8e9c56de694874c37689a8a6a,"American (Traditional), Steakhouses, Restauran...",Scottsdale,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,33.625352,-111.926167,Morton's The Steakhouse,85254,173,3.0,AZ,5,5,3
10000,"210 E Trade St, Ste 104A","{'BusinessAcceptsCreditCards': 'True', 'Restau...",160097fe729a2caa29cda43017312a6f,"Mexican, Restaurants",Charlotte,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,35.225882,-80.841993,Vida Mexican Kitchen y Cantina,28202,393,3.5,NC,2,6,2
10001,7050 W Ray Rd,"{'BikeParking': 'True', 'RestaurantsGoodForGro...",4c12a8b12c9e0c2d161848a1c33d80b0,"Burgers, Restaurants, Fast Food",Chandler,"{'Monday': '10:30-1:0', 'Tuesday': '10:30-1:0'...",1,33.320455,-111.964159,In-N-Out Burger,85226,164,4.0,AZ,4,7,3
10002,6140 Som Center Rd,"{'RestaurantsTableService': 'True', 'WiFi': 'u...",0beb5531e8212a8846d80915e85164dc,"Mexican, Restaurants",Solon,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",0,41.392161,-81.438536,Pacos Tacos,44139,135,2.5,OH,6,8,4
10003,"9711 S Eastern Ave, Ste H-11","{'GoodForKids': 'True', 'BusinessAcceptsCredit...",310ff8a69d91390620bb37e451977e3d,"Hair Salons, Barbers, Beauty & Spas, Hair Styl...",Las Vegas,"{'Monday': '10:0-20:0', 'Tuesday': '10:0-20:0'...",1,36.012499,-115.119687,Cool Cuts 4 Kids,89123,168,4.0,NV,7,9,5
10004,8475 S Emerald Dr,"{'BusinessParking': '{'garage': False, 'street...",8bad83206fd5fafdd8d3d6f921460c05,"Gun/Rifle Ranges, Active Life, Shopping, Guns ...",Tempe,"{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...",1,33.338890,-111.968500,C2 Tactical,85284,245,4.0,AZ,8,10,3
10005,"13869 W Bell Rd, Ste 107","{'RestaurantsPriceRange2': '1', 'BikeParking':...",4f9a7c989453c2b5e86af34c68ae39b8,"Restaurants, Fast Food, Mexican",Surprise,"{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",1,33.638211,-112.359095,Chipotle Mexican Grill,85374,130,2.5,AZ,9,11,3
10006,1101 Central Ave,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",2906bc18ead1f9dbf1520ef77daf5f26,"Nightlife, Beer, Wine & Spirits, Burgers, Bars...",Charlotte,"{'Monday': '16:0-22:0', 'Tuesday': '11:0-22:0'...",1,35.221748,-80.819321,Kickstand Burgers & Bar,28204,299,4.0,NC,2,12,2
10007,7810 W Ann Rd,"{'BikeParking': 'True', 'RestaurantsReservatio...",2069f8bc96d3e9527039a3c97852c692,"Salad, Pizza, Restaurants, Chicken Wings",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",1,36.264032,-115.266209,Above the Crust,89149,267,4.0,NV,7,13,5
10008,"1116 S Dobson Rd, Ste 123","{'RestaurantsPriceRange2': '1', 'RestaurantsDe...",4212ff960684ef4dce4fdc8f52830ea0,"Restaurants, Chinese",Mesa,"{'Monday': '10:30-21:0', 'Tuesday': '10:30-21:...",1,33.394395,-111.875888,Best Hong Kong Dining,85202,131,3.5,AZ,10,14,3
10009,8665 Concord Mills Blvd,"{'BikeParking': 'False', 'NoiseLevel': 'u'aver...",55cbaf42bde953559ddf3a74d03c54f9,"Fast Food, Salad, Restaurants, American (Tradi...",Concord,"{'Monday': '0:0-0:0', 'Tuesday': '10:30-21:0',...",1,35.374317,-80.727584,PDQ - Concord,28027,147,4.0,NC,11,15,2
1001,"10890 S Eastern Ave, Ste 108","{'RestaurantsTableService': 'True', 'Restauran...",f1d16465461d43967611abe8e746ba3a,"Food, Sandwiches, Restaurants, Beer, Wine & Sp...",Henderson,None,0,35.995645,-115.099883,Burger Joint,89052,185,4.5,NV,12,16,5
10010,"3910 Spring Mountain Rd, Ste 3",{'BusinessAcceptsCreditCards': 'True'},2603451aa42274de7e583014c1cc756c,"Auto Repair, Automotive, Oil Change Stations, ...",Las Vegas,"{'Monday': '9:30-18:0', 'Tuesday': '9:30-18:0'...",1,36.126516,-115.192007,Samurai Motors,89102,121,4.5,NV,7,17,5
10011,180 Baldwin Street,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",8eef9fbb751d3b01da1d67ead276205e,"Cafes, Restaurants, Breakfast & Brunch",Toronto,None,1,43.654826,-79.400768,Our Spot,M5T 1L8,122,4.0,ON,3,18,1
10012,141 Berkeley Street,"{'GoodForKids': 'False', 'HasTV': 'False', 'Go...",00f3048af106561c1c34164a75613261,"Mexican, Restaurants, Latin American",Toronto,"{'Monday': '12:0-22:0', 'Tuesday': '12:0-22:0'...",1,43.654927,-79.365475,Cocina Economica,M5A 2X1,161,4.0,ON,3,19,1
10013,"1150 S Gilbert Rd, Ste 108","{'RestaurantsAttire': 'u'casual'', 'Restaurant...",f6e8f86e7d24792d43bdde0b302462fb,"Burgers, Ice Cream & Frozen Yogurt, Cheesestea...",Gilbert,"{'Monday': '10:30-21:0', 'Tuesday': '10:30-21:...",0,33.328977,-111.790797,Mike's Burgers & Cheesesteaks,85296,226,3.5,AZ,13,20,3
10014,"4012 W Turney Ave, Ste B2","{'BusinessAcceptsCreditCards': 'True', 'ByAppo...",a8dabce1804799cef8ccc2540e1d9c97,"Local Services, Professional Services, Packing...",Phoenix,"{'Monday': '0:0-0:0', 'Tuesday': '6:30-18:0', ...",1,33.501878,-112.144978,Creative Moving & Packing,85019,192,4.5,AZ,14,21,3
10015,19110 Old Detroit Rd,"{'GoodForKids': 'False', 'RestaurantsGoodForGr...",e186315ab226005aa8107fa7d77a007d,"Mediterranean, Bars, Nightlife, Wine Bars, Sal...",Rocky River,"{'Monday': '0:0-0:0', 'Tuesday': '16:0-21:30',...",1,41.483033,-81.834288,Tartine Bistro & Wine Bar,44116,127,4.0,OH,15,22,4
10016,531 N Stephanie St,None,01d2741ba0b8fc6537a46db2c4dfe79a,"Pet Stores, Pet Groomers, Pet Services, Pets, ...",Henderson,"{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",1,36.058395,-115.048256,PetSmart,89014,120,3.0,NV,12,23,5
10017,6725 E McDowell Rd,{'BusinessAcceptsCreditCards': 'True'},82362d4f67f7887855a969e8f17c8242,"Car Dealers, Auto Repair, Used Car Dealers, Au...",Scottsdale,"{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...",1,33.464993,-111.935388,Certified Benz & Beemer,85257,168,3.5,AZ,5,24,3
10018,601 N Arizona Ave,"{'Ambience': '{'romantic': False, 'intimate': ...",12fa348bf5ac73d963ab350bb4ed930e,"Mexican, Breakfast & Brunch, Restaurants, Cate...",Chandler,"{'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...",1,33.313554,-111.841224,Moreno's Mexican Grill,85225,154,4.0,AZ,4,25,3
10019,4500 W Tropicana Ave,"{'RestaurantsDelivery': 'False', 'GoodForMeal'...",8da71ff9297c803ea587e09de06b8cc4,"Nightlife, Cocktail Bars, Steakhouses, America...",Las Vegas,"{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'...",1,36.102563,-115.201190,Alder & Birch,89103,146,4.5,NV,7,26,5
1002,3519 E Baseline Rd,"{'RestaurantsAttire': ''casual'', 'NoiseLevel'...",40898629f9594f11529eeff74b9d42fe,"Mexican, Restaurants",Gilbert,None,1,33.378042,-111.755457,Nando's Mexican Cafe,85234,352,3.5,AZ,13,27,3
10020,"4700 N 12th St, Ste 101","{'CoatCheck': 'False', 'DriveThru': 'False', '...",c6fc9c9992f25b87ce25ad1c0d1f7283,"Tapas Bars, Breakfast & Brunch, Nightlife, Ame...",Phoenix,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ...",1,33.505794,-112.056933,Original Gravity,85014,151,4.5,AZ,14,28,3
10021,3802 E Indian School Rd,"{'GoodForKids': 'False', 'ByAppointmentOnly': ...",a7901921f7c5fd581092c2d2a885aef5,"Fitness & Instruction, Yoga, Active Life, Food...",Phoenix,"{'Monday': '6:0-20:30', 'Tuesday': '6:0-20:30'...",1,33.495453,-112.000055,The Madison Improvement Club,85018,116,4.5,AZ,14,29,3
10022,4210 E Main St,"{'BikeParking': 'True', 'Caters': 'True', 'Bus...",c25c9d2d799867a084eea8a526c8ddde,"Custom Cakes, Bakeries, Restaurants, Wedding P...",Mesa,"{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ...",1,33.416204,-111.740273,Sassy's Cafe & Bakery,85205,122,4.5,AZ,10,30,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9972,"107 Atlantic Avenue, Suite 100","{'HasTV': 'True', 'RestaurantsReservations': '...",68c206f8ee14991111290525da3f6376,"Pubs, Gastropubs, Brasseries, Nightlife, Beer,...",Toronto,"{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ...",1,43.639408,-79.420820,The Craft Brasserie & Grille,M6K 1Y2,128,3.5,ON,3,1434,1
9973,"7000 E Mayo Blvd, Bldg 21","{'BusinessAcceptsBitcoin': 'False', 'BusinessP...",add6d42b58d12d206e17a1311d1a61c2,"Salad, Food, Desserts, Mexican, Restaurants",Phoenix,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",1,33.658418,-111.930540,Carlos O'Brien's Mexican Restaurant,85054,130,3.5,AZ,14,122,3
9974,"4545 Spring Mountain Rd, Ste 101","{'GoodForMeal': '{'dessert': False, 'latenight...",97614b3f2755c98fe10f282700e92d3b,"Restaurants, Fast Food, Food, Poke, Japanese, ...",Las Vegas,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",0,36.125636,-115.202487,California Sushi Burrito,89102,137,4.5,NV,7,17,5
9975,340 Yonge Street,"{'Alcohol': 'u'beer_and_wine'', 'BikeParking':...",7cb704d60481ab71ef631320cee6502f,"Thai, Restaurants",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.657648,-79.381728,Salad King Restaurant,M5B 1R8,876,3.5,ON,3,1227,1
9976,9691 Trailwood Dr,"{'RestaurantsDelivery': 'False', 'WiFi': 'u'fr...",1cec1d7b71ca2ffbb030948db18d0301,"Sandwiches, Food, Juice Bars & Smoothies, Rest...",Las Vegas,"{'Monday': '6:0-20:0', 'Tuesday': '6:0-20:0', ...",1,36.190941,-115.307202,Rachel's Kitchen,89134,266,3.5,NV,7,95,5
9977,565 Marks St,"{'HasTV': 'True', 'BusinessAcceptsBitcoin': 'F...",b01acb835ba8ca989d0552536353c76a,"Mediterranean, Restaurants, Greek, Middle Eastern",Henderson,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-20:0', ...",1,36.062289,-115.036933,Greek Bistro,89014,361,4.5,NV,12,23,5
9978,2113 Valley Dr,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...",3757ace02f6a6329ebc4318e8ce73993,"Handyman, Plumbing, Home Services",Las Vegas,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1,36.197590,-115.198110,Arturo The Handyman Repairs,89108,224,5.0,NV,7,243,5
9979,1616 W Ruby Dr,"{'RestaurantsPriceRange2': '3', 'ByAppointment...",8a7405cd5a6d6e411f37eba2cb9ed809,"Beauty & Spas, Hair Salons, Gyms, Sports Clubs...",Tempe,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,33.340286,-111.964733,Life Time Fitness,85284,211,3.5,AZ,8,10,3
998,3950 Las Vegas Blvd S,"{'RestaurantsPriceRange2': '3', 'BusinessAccep...",817dd22fc69a6783b068157f73b84e57,"Event Planning & Services, Hotels & Travel, Ho...",Las Vegas,None,0,36.087535,-115.174742,The Hotel At Mandalay Bay,89119,826,4.0,NV,7,88,5
9980,20 Dundas Street West,"{'NoiseLevel': 'u'average'', 'RestaurantsAttir...",2b43df510f9ce2f2cab3796a16dbb6e9,"American (Traditional), Restaurants, Seafood",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.656363,-79.383616,Red Lobster,M5G 2C2,132,3.0,ON,3,372,1
9981,9031 W Sahara Ave,"{'BusinessParking': '{'valet': False, 'garage'...",7002a8b4cb1594ca4a6e7f31d1375c14,"Bagels, Food, Restaurants",Las Vegas,None,1,36.143822,-115.294084,Einstein Bros,89117,130,2.0,NV,7,48,5
9982,3790 Las Vegas Blvd S,"{'RestaurantsDelivery': 'False', 'BusinessAcce...",877e70014cd2992e821d76fa5a6f791a,"Restaurants, Steakhouses",Las Vegas,"{'Monday': '16:0-23:0', 'Tuesday': '16:0-23:0'...",1,36.102645,-115.174534,Gallagher's Steakhouse,89109,1148,4.0,NV,7,37,5
9983,11675 Perry Hwy,"{'GoodForMeal': '{'dessert': False, 'latenight...",62b6cd2ea17d89085d2565c2343ffc35,"Fast Food, Mexican, Restaurants",Wexford,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,40.626706,-80.055544,Patron Mexican Grill,15090,156,3.5,PA,23,56,7
9984,3961 S. Gilbert Rd,"{'RestaurantsReservations': 'False', 'Business...",f0647b4c737e307515e7d4518cba03a2,"Barbeque, Restaurants, Steakhouses, American (...",Gilbert,"{'Monday': '15:30-21:30', 'Tuesday': '15:30-21...",1,33.278223,-111.789141,Texas Roadhouse,85296,218,3.5,AZ,13,20,3
9985,3623 Butler St,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...",a2a6ea59c31297605149f3978051a004,"Food, Coffee & Tea",Pittsburgh,"{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",1,40.466083,-79.965091,Espresso A Mano,15201,314,4.5,PA,29,83,7
9986,2510 W Happy Valley Rd,"{'Ambience': '{'romantic': False, 'intimate': ...",060f5d6b4b8a90518520ad5d7643abfe,"American (New), Soup, Restaurants, Sandwiches,...",Phoenix,"{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",1,33.715096,-112.113699,Café Zupas,85085,135,3.0,AZ,14,67,3
9987,1000 W Warm Springs Rd,{'BusinessAcceptsCreditCards': 'True'},b91b2c51f5a89bec9ddd5cc1acbd99be,"Car Buyers, Used Car Dealers, Car Dealers, Aut...",Henderson,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",1,36.057992,-115.030393,CarMax,89014,238,3.0,NV,12,23,5
9988,1374 Willamson St,"{'BikeParking': 'True', 'RestaurantsTakeOut': ...",aba53c723b77b63993c897a71133f323,"Food, Restaurants, Nightlife, Pizza, Bars",Madison,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,43.085616,-89.361521,Grampa's Pizzeria,53703,240,4.5,WI,25,62,8
9989,1937 Murray Ave,"{'RestaurantsGoodForGroups': 'True', 'Restaura...",b966bdc11fa97060e4e568a3b95fce72,"Tea Rooms, Restaurants, Food, Coffee & Tea, Ve...",Pittsburgh,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,40.434965,-79.922808,Dobra Tea,15217,167,4.5,PA,29,275,7
999,11607 Euclid Ave,"{'RestaurantsTakeOut': 'True', 'Ambience': '{'...",a18a53546fd2391a9d07c79b35a0ec4b,"Beer, Wine & Spirits, Wine Bars, Nightlife, Pa...",Cleveland,"{'Tuesday': '10:0-0:0', 'Wednesday': '10:0-0:0...",0,41.510902,-81.603330,Coquette Patisserie,44106,136,4.0,OH,19,296,4
9990,2382 Dundas Street W,"{'OutdoorSeating': 'False', 'Ambience': '{'rom...",b389d818b33cb3fd6e9496900f1a974f,"Japanese, Korean, Barbeque, Restaurants",Mississauga,"{'Monday': '11:0-22:30', 'Tuesday': '11:0-22:3...",1,43.529373,-79.673477,Miga Korean & Japanese BBQ Restaurant,L5K 1R7,172,4.0,ON,1,1252,1
9991,9620 N Metro Pkwy W,"{'BusinessParking': '{'garage': False, 'street...",c536099462960d390a88f4d9d9401f80,"Diners, Breakfast & Brunch, Restaurants, Mexican",Phoenix,"{'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...",1,33.574124,-112.125615,Mi Pueblo,85051,173,4.0,AZ,14,379,3
9992,3799 Las Vegas Blvd S,"{'RestaurantsGoodForGroups': 'True', 'WiFi': '...",e1612862b8a811f454068e5b9c5d012e,"Lounges, Nightlife, Bars",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,36.102165,-115.169804,Whiskey Down,89109,121,3.5,NV,7,37,5
9993,850 Las Vegas Blvd N,{'GoodForKids': 'True'},6c2584807bb2b14db9a1a05c8c1c648f,"Stadiums & Arenas, Arts & Entertainment",Las Vegas,None,1,36.179894,-115.130281,Cashman Field,89101,117,3.5,NV,7,118,5
9994,"3255 Highway 7 E, Unit 15","{'RestaurantsTakeOut': 'True', 'RestaurantsDel...",b8b9ba70d61228e20abcdff616161f4a,"Taiwanese, Chinese, Restaurants",Markham,"{'Monday': '0:0-0:0', 'Wednesday': '11:30-16:0...",1,43.848355,-79.349080,Mei Nung Beef Noodle House,L3R 3P3,242,4.0,ON,34,791,1
9995,5101 N Scottsdale Rd,"{'RestaurantsDelivery': 'False', 'RestaurantsA...",5f5ee871bc5d8ffb82d5f6c504be79d5,"Mexican, Restaurants, Seafood, Breakfast & Brunch",Scottsdale,"{'Monday': '7:0-22:0', 'Tuesday': '7:0-22:0', ...",0,33.510917,-111.924698,Papi Chulo's Mexican Grill & Cantina,85250,198,3.0,AZ,5,247,3
9996,226 Greenwood Avenue,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...",b114540ca59a4e2695010a00c5e6743d,"Breakfast & Brunch, Egyptian, Middle Eastern, ...",Toronto,"{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ...",1,43.671680,-79.328577,Maha's,M4L 2R2,376,4.0,ON,3,1435,1
9997,3347 N 7th Ave,"{'BusinessAcceptsBitcoin': 'False', 'WiFi': 'u...",9dbf422e6de5bf89c876207d9381191c,"Restaurants, Mexican",Phoenix,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...",1,33.487475,-112.083034,Mi Patio,85013,600,4.0,AZ,14,34,3
9998,7000 E. Mayo Blvd.,"{'BusinessParking': '{'garage': False, 'street...",b9c8954809abfdbc310f2c894917a9ab,"Burgers, Restaurants, American (Traditional), ...",Phoenix,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,33.655913,-111.928109,Red Robin Gourmet Burgers,85054,141,3.0,AZ,14,122,3
9999,"14815 Ballantyne Village Way, Fl 2nd ,Ste 250","{'BusinessAcceptsCreditCards': 'True', 'HasTV'...",dbba47328ae3fd2bb286ebae9f932398,"Sushi Bars, Restaurants, Asian Fusion",Charlotte,"{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'...",1,35.053566,-80.851867,Jade Asian Fusion,28277,152,3.5,NC,2,154,2

In [129]:
from collections import Counter
from itertools import combinations
from math import sqrt
import random
from keras.layers import Concatenate, Dense, Dot, Dropout, Embedding, Input, Reshape
from keras.models import Model
from keras.callbacks import Callback, ModelCheckpoint
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import tensorflow


STUDENT_ID = '23846183'

random.seed(2019)
np.random.seed(2019)
tensorflow.set_random_seed(2019)


# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))


def build_deepwide_model(len_continuous, deep_vocab_lens, len_wide, embed_size):
    input_list = []
    continuous_input = Input(shape=(len_continuous,), dtype='float32', name='continuous_input')
    input_list.append(continuous_input)

    emb_list = []
    for vocab_size in deep_vocab_lens:
        _input = Input(shape=(1,), dtype='int32')
        input_list.append(_input)
        _emb = Embedding(output_dim=embed_size, input_dim=vocab_size, input_length=1)(_input)
        _emb = Reshape((embed_size,))(_emb)
        emb_list.append(_emb)

    deep_input = Concatenate()(emb_list + [continuous_input])
    
    dense_1 = Dense(100, activation='relu')(deep_input)
    dense_1_dp = Dropout(0.01)(dense_1)
    dense_2 = Dense(64, activation='relu')(dense_1_dp)
    dense_2_dp = Dropout(0.01)(dense_2)
    dense_3 = Dense(64, activation='relu')(dense_2_dp)
    dense_3_dp = Dropout(0.01)(dense_3)

    wide_input = Input(shape=(len_wide,), dtype='float32')
    input_list.append(wide_input)
    
    fc_input = Concatenate()([dense_3_dp, wide_input])
    # out_fc = Dense(256, activation='relu')(fc_input)
    model_output = Dense(1)(fc_input)
    model = Model(inputs=input_list,
                  outputs=model_output)
    return model


def get_continuous_features(df, continuous_columns):
    continuous_features = df[continuous_columns].values
    return continuous_features


def get_top_k_p_combinations(df, comb_p, topk, output_freq=False):
    def get_category_combinations(categories_str, comb_p=2):
        categories = categories_str.split(', ')
        return list(combinations(categories, comb_p))
    all_categories_p_combos = df["item_categories"].apply(
        lambda x: get_category_combinations(x, comb_p)).values.tolist()
    all_categories_p_combos = [tuple(t) for item in all_categories_p_combos for t in item]
    tmp = dict(Counter(all_categories_p_combos))
    sorted_categories_combinations = list(sorted(tmp.items(), key=lambda x: x[1], reverse=True))
    if output_freq:
        return sorted_categories_combinations[:topk]
    else:
        return [t[0] for t in sorted_categories_combinations[:topk]]


def get_wide_features(df):
    def categories_to_binary_output(categories):
        binary_output = [0 for _ in range(len(selected_categories_to_idx))]
        for category in categories.split(', '):
            if category in selected_categories_to_idx:
                binary_output[selected_categories_to_idx[category]] = 1
            else:
                binary_output[0] = 1
        return binary_output
    def categories_cross_transformation(categories):
        current_category_set = set(categories.split(', '))
        corss_transform_output = [0 for _ in range(len(top_combinations))]
        for k, comb_k in enumerate(top_combinations):
            if len(current_category_set & comb_k) == len(comb_k):
                corss_transform_output[k] = 1
            else:
                corss_transform_output[k] = 0
        return corss_transform_output

    category_binary_features = np.array(df.item_categories.apply(
        lambda x: categories_to_binary_output(x)).values.tolist())
    category_corss_transform_features = np.array(df.item_categories.apply(
        lambda x: categories_cross_transformation(x)).values.tolist())
    return np.concatenate((category_binary_features, category_corss_transform_features), axis=1)

In [122]:

tr_df = pd.read_csv("data/train.csv")
val_df = pd.read_csv("data/valid.csv")
te_df = pd.read_csv("data/test.csv")

tr_ratings = tr_df.stars.values
val_ratings = val_df.stars.values

user_df = pd.read_json("data/user.json")
item_df = pd.read_json("data/business.json")
user_df = user_df.rename(index=str, columns={t: 'user_' + t for t in user_df.columns if t != 'user_id'})
item_df = item_df.rename(index=str, columns={t: 'item_' + t for t in item_df.columns if t != 'business_id'})

tr_df["index"] = tr_df.index
val_df["index"]  = val_df.index
te_df["index"] = te_df.index
tr_df = pd.merge(pd.merge(tr_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)
val_df = pd.merge(pd.merge(val_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)
te_df = pd.merge(pd.merge(te_df, user_df, on='user_id'), item_df, on='business_id').sort_values(by=['index']).reset_index(drop=True)

# Continuous features
print("Prepare continuous features...")
continuous_columns = ["user_average_stars", "user_cool", "user_fans", 
                      "user_review_count", "user_useful", "user_funny",
                      "item_is_open", "item_latitude", "item_longitude", 
                      "item_review_count", "item_stars"]
tr_continuous_features = get_continuous_features(tr_df, continuous_columns)
val_continuous_features = get_continuous_features(val_df, continuous_columns)
te_continuous_features = get_continuous_features(te_df, continuous_columns)
scaler = StandardScaler().fit(tr_continuous_features)
tr_continuous_features = scaler.transform(tr_continuous_features)
val_continuous_features = scaler.transform(val_continuous_features)
te_continuous_features = scaler.transform(te_continuous_features)

# Deep features
print("Prepare deep features...")
# item_deep_columns = ["item_city", "item_postal_code", "item_state"]
item_deep_columns = ["item_city", "item_postal_code", "item_state"]
item_deep_vocab_lens = []
for col_name in item_deep_columns:
    tmp = item_df[col_name].unique()
    vocab = dict(zip(tmp, range(1, len(tmp) + 1)))
    item_deep_vocab_lens.append(len(vocab) + 1)
    item_df[col_name + "_idx"] = item_df[col_name].apply(lambda x: vocab[x] if x in vocab else 0)
item_deep_idx_columns = [t + "_idx" for t in item_deep_columns]
item_to_deep_features = dict(zip(item_df.business_id.values, item_df[item_deep_idx_columns].values.tolist()))
tr_deep_features = np.array(tr_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())
val_deep_features = np.array(val_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())
te_deep_features = np.array(te_df.business_id.apply(lambda x: item_to_deep_features[x]).values.tolist())

# Wide (Category) features
print("Prepare wide features...")
#   Prepare binary encoding for each selected categories
all_categories = [category for category_list in item_df.item_categories.values for category in category_list.split(", ")]
category_sorted = sorted(Counter(all_categories).items(), key=lambda x: x[1], reverse=True)
selected_categories = [t[0] for t in category_sorted[:00]]
selected_categories_to_idx = dict(zip(selected_categories, range(1, len(selected_categories) + 1)))
selected_categories_to_idx['unk'] = 0
idx_to_selected_categories = {val: key for key, val in selected_categories_to_idx.items()}
#   Prepare Cross transformation for each categories
top_combinations = []
top_combinations += get_top_k_p_combinations(tr_df, 2, 200, output_freq=False)
top_combinations += get_top_k_p_combinations(tr_df, 3, 80, output_freq=False)
top_combinations += get_top_k_p_combinations(tr_df, 4, 40, output_freq=False)
top_combinations += get_top_k_p_combinations(tr_df, 5, 20, output_freq=False)

top_combinations = [set(t) for t in top_combinations]

tr_wide_features = get_wide_features(tr_df)
val_wide_features = get_wide_features(val_df)
te_wide_features = get_wide_features(te_df)

# Build input
tr_features = []
tr_features.append(tr_continuous_features.tolist())
tr_features += [tr_deep_features[:,i].tolist() for i in range(len(tr_deep_features[0]))]
tr_features.append(tr_wide_features.tolist())
val_features = []
val_features.append(val_continuous_features.tolist())
val_features += [val_deep_features[:,i].tolist() for i in range(len(val_deep_features[0]))]
val_features.append(val_wide_features.tolist())
te_features = []
te_features.append(te_continuous_features.tolist())
te_features += [te_deep_features[:,i].tolist() for i in range(len(te_deep_features[0]))]
te_features.append(te_wide_features.tolist())

Prepare continuous features...
Prepare deep features...
Prepare wide features...

In [123]:
# Model training
print(len(tr_continuous_features[0]))
print(tr_continuous_features[0])
print(item_deep_vocab_lens)
print(len(tr_wide_features[0]))

11
[-1.45650354 -0.13715845  0.37009944  1.56067061  0.10171985 -0.0509457
  0.33516366 -0.13118059 -0.66911938  2.89952001  0.32439266]
[187, 1436, 14]
841

In [124]:
deepwide_model = build_deepwide_model(
    len(tr_continuous_features[0]),
    item_deep_vocab_lens,  
    len(tr_wide_features[0]), 
    embed_size=110)
deepwide_model.compile(optimizer='adagrad', loss='mse')
history = deepwide_model.fit(
    tr_features, 
    tr_ratings,
    batch_size=1024,
    epochs=5, verbose=1, callbacks=[ModelCheckpoint('model.h5')])
# ,validation_data=(val_features,val_ratings)
# Make Prediction
y_pred = deepwide_model.predict(tr_features)                                        
print("TRAIN RMSE: ", rmse(y_pred, tr_ratings))
y_pred = deepwide_model.predict(val_features)
print("VALID RMSE: ", rmse(y_pred, val_ratings))
#     y_pred = deepwide_model.predict(te_features)
#     res_df = pd.DataFrame()
#     res_df['pred'] = y_pred[:, 0]
#     res_df.to_csv("{}.csv".format(STUDENT_ID), index=False)
#     print("Writing test predictions to file done.")

Epoch 1/5
100000/100000 [==============================] - 7s 70us/step - loss: 1.5903
Epoch 2/5
100000/100000 [==============================] - 2s 22us/step - loss: 1.0893
Epoch 3/5
100000/100000 [==============================] - 2s 22us/step - loss: 1.0733
Epoch 4/5
100000/100000 [==============================] - 2s 22us/step - loss: 1.0675
Epoch 5/5
100000/100000 [==============================] - 2s 22us/step - loss: 1.0598
TRAIN RMSE:  1.0221280698609931
VALID RMSE:  1.040743941618628